$color: white;
$color-keys: blue;
$color-display: blue;
$color-keyboard: #ededed;

body {
  background-color: $color;
}

.app {
  background-color: $color;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 300px;
  }
}

.pin-pad {
  position: relative;
  background-color: $color-keyboard;

  &__display {
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__message {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #ededed;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__keyboard {
    padding: 2px;
  }
}

.keys {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  &__key {
    flex: 0 0 33.3333%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.key {
  height: 90px;
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 30px;
  width: 100%;
  margin: 5px;
  background-color: $color-keyboard;
  border-color: transparent;

  &:hover {
    box-shadow: #506CE8 0 0 1px 1px;
  }

  &:active {
    background: #506CE8;
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}

.message {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__value {
    margin: 10px 30px;
  }
}

.display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    width: 45px;
    height: 45px;
    border: 1px $color solid;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
